<h2 class='text-center'>Food Trucks</h2>
<hr>
<br>
<div class="row text-center">
  <% @trucks.each do |truck| %>
    <div class="col-md-4">
      <p><%= truck.name %></p>
      <p><%= truck.address %></p>
    </div>
<% end %>
</div>